@model Cotracosan.Models.Cotracosan.Carreras

@{
    Layout = null;
    Decimal total = Model.MontoRecaudado - Model.Multa;
    string mostrarTotal = string.Format("{0:C}", total);
}

<h3>¿Esta seguro de eliminar la carrera @Model.CodigoCarrera?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Conductor - Licencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductores.NombreCompleto ) - @Model.Conductores.Licencia
        </dd>
        <dt>
            Placa del vehiculo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehiculos.Placa)
        </dd>
        <dt>
            Turno de Entrada y Salida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turnos.HorasTurno)
        </dd>

        <dt>
            Lugar Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugaresFinalesDelosRecorridos.NombreDeLugar )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraRealDeLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraRealDeLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoRecaudado)
        </dt>

        <dd>
            @string.Format("{0:C}", Model.MontoRecaudado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multa)
        </dt>

        <dd>
            @string.Format("{0:C}", Model.Multa)
        </dd>
        <dt>
            Total Ingreso
        </dt>
        <dd>
           @mostrarTotal
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Carreras", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger offset-4" />
        </div>
    }
</div>
