@model IEnumerable<Cotracosan.Models.Cotracosan.Carreras>

@{
    ViewBag.Title = "Carreras";
}
<h2>Lista de Carreras</h2>

<p>
    @Html.ActionLink("Nueva Carrera", "Create", null, new { @class="btn btn-lg btn-success"})
</p>
<table class="table" id="tableCarreras">
    <thead>
        <tr>
            <th>Conductor</th>
            <th>Vehiculo</th>
            <th>Lugar Final</th>
            <th>Fecha Carrera</th>
            <th>Hora</th>
            <th>Monto</th>
            <th>Multa</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>
@Html.Partial("_modal")
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/DataTable")
    @Scripts.Render("~/bundles/carreras")
    @Styles.Render("~/Content/datatablecss")
    <script>
    // Cargar datatable
    generarDataTable(
        '/Carreras/getCarreras/', 7,
        "tableCarreras", ["Conductor", "Vehiculo", "Lugar","Fecha", "Hora","Monto","Multa", "Id"],
        [
            '/Carreras/Edit',
            '/Carreras/Details',
            '/Carreras/Delete'
        ]);
    </script>
}