@model IEnumerable<Cotracosan.Models.Cotracosan.Carreras>

@{
    ViewBag.Title = "Carreras";
}
<h2>Lista de Carreras</h2>
<div class="row">
    <div class="col-md-2">
        <p>
            @Html.ActionLink("Nueva Carrera", "Create", null, new { @class = "btn btn-success" })
        </p>
    </div>
    <div class="col-md-3">
        <div class="row" id="spinner" style="display: none;">
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Cargando Contenido
            </button>
        </div>
    </div>
    <!-- Cambiar Fechas -->
   <div class="col-md-7">
       <div class="row">
           <div class="col-md-2">
               <label style="margin-top:0.75em">Intervalo</label>
           </div>
           <div class="col-md-4">
               <input type="date" class="form-control" id="SelectorFecha"/>
           </div>
           <div class="col-md-4" style="margin-top:0.3em">
               <button class="btn btn-info" onclick="CambiarUrl()">Obtener Carreras</button>
           </div>
           <div class="col-md-2" style="margin-top:0.8em">
               <a href="#" onclick="CargarTodo()">Todo</a>
           </div>
       </div>    
   </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table" id="tableCarreras">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Conductor</th>
                        <th>Vehiculo</th>
                        <th>Fecha Carrera</th>
                        <th>Monto Recaudado</th>
                        <th>Multa</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_modal")

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/DataTable")
    @Scripts.Render("~/bundles/carreras")
    @Styles.Render("~/Content/datatablecss")
    <script>
    // Cargar datatable
    generarDataTable(
        '/Carreras/getCarreras/', 6,
        "tableCarreras", ["Codigo", "Conductor", "Vehiculo","Fecha","Monto","Multa", "Id"],
        [
            '/Carreras/Details',
            '/Carreras/Delete'
        ]);
    
    </script>
}