@model Cotracosan.Models.Cotracosan.Penalizaciones

@{
    Layout = null;
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar la penalización?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoPenalizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPenalizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Penalizaciones", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions offset-10">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
