@model Cotracosan.Models.Cotracosan.Abonos

@{
    Layout = null;
}

<h2>Detalles</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creditos.CodigoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creditos.CodigoCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeAbono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeAbono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoAbono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoAbono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoDeAbono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoDeAbono)
        </dd>

    </dl>
</div>