@model Cotracosan.Models.Cotracosan.Creditos

@{
    ViewBag.Title = "Detalles de Credito";
}

<h2>Detalles</h2>
<div class="row">
    <div class="col-md-3">
        <div>
            <h4>Datos Básicos</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Vehiculos.Placa)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vehiculos.Placa)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CodigoCredito)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CodigoCredito)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FechaDeCredito)
                </dt>
                <dd>
                    @Model.FechaDeCredito.ToShortDateString()
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MontoTotal)
                </dt>
                <dd>
                    C$ @Html.DisplayFor(model => model.MontoTotal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Vehiculos.SocioId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Vehiculos.Socios.SocioNombre)
                </dd>               
                <dt>
                    Abonos Efectuados
                </dt>
                <dd>
                    @Model.Abonos.Count
                </dd>
                <dt>
                    Total Abonado
                </dt>
                <dd>
                    C$ @Model.Abonos.Where(x => x.Estado).Sum(y => y.MontoDeAbono)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Articulos seleccionados</h4>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Articulo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.DetallesDeCreditos)
                    {
                        <tr>
                            <td>@item.Articulos.CodigoDeArticulo </td>
                            <td>@item.Articulos.DescripcionDeArticulo </td>
                            <td>@item.Cantidad</td>
                            <td>@item.Articulos.Precio</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h5>Acciones posteriores</h5>
        <div class="row">
            <div class="col-md-9">
                <a class="btn btn-success" href="@Url.Action("TicketFactura", new { @id = Model.Id})" target="_blank">Imprimir Reporte</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9">
                <a class="btn btn-warning" href="@Url.Action("Create", "Creditos", new { @VehiculoId = Model.VehiculoId})">Agregar Credito</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9">
                <a class="btn btn-info" href="@Url.Action("Create")">Agregar Abono</a>
            </div>
        </div>
    </div>
</div>

@section scripts{


<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px !important;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px !important;
    }
</style>

    }