@{
    ViewBag.Title = "Creditos";
}

<h2>Lista de Creditos Otorgados</h2>

<p>
    @Html.ActionLink("Nuevo Credito", "Create", null, new {@class="btn btn-success" })
</p>

<div class="table-responsive">
    <table class="table" id="tableCreditos">
        <thead>
            <tr>
                <th>
                    Placa Vehiculo
                </th>
                <th>
                    Codigo Credito
                </th>
                <th>
                    Fecha Credito
                </th>
                <th>
                    Monto Total
                </th>
                <th>
                    Anulado
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        }
    </table>
</div>

@Html.Partial("_modal")
@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/DataTable")
@Styles.Render("~/Content/datatablecss")
<script src="~/Scripts/cotracosan/Creditos.js"></script>
<script>

</script>    
}