@model Cotracosan.Models.Cotracosan.Socios

@{
    Layout = null;
}

<h3>¿Esta seguro de eliminar este registro?</h3>
<div>
    <h4>Eliminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoSocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoSocio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1Socio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1Socio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2Socio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2Socio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Socios", FormMethod.Post, new { onsubmit = "return SubmitForm(this)"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
