<nav class="sidebar sidebar-offcanvas" id="sidebar">
    @if (User.IsInRole("Administrador") || User.IsInRole("Contador"))
    {
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Inicio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-circle-outline menu-icon"></i>
                    <span class="menu-title">Catalogos</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Articulos")">Articulos</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Turnos")">Turnos</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Penalizaciones")">Penalizaciones</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Recorridos")">Recorridos</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Vehiculos")">Vehiculos</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Socios")">Socios</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Conductores")">Conductores</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-reports" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-chart-pie"></i>
                    <span class="menu-title">Reportes de gastos</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-reports">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("GastosDeArticulosPorVehiculos", "Reports")">Articulos por vehiculos</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("GastosDeVehiculosPorArticulos", "Reports")">Vehiculos por articulos</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Carreras")">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Carreras</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Creditos")">
                    <i class="mdi mdi-chart-pie menu-icon"></i>
                    <span class="menu-title">Creditos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Abonos")">
                    <i class="mdi mdi-grid-large menu-icon"></i>
                    <span class="menu-title">Abonos</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Roles")">
                    <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                    <span class="menu-title">Roles</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("About","Home")">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">About</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contact","Home")">
                    <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                    <span class="menu-title">Contacto</span>
                </a>
            </li>
        </ul>
    }
    else
    {
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Create","Carreras")">
                    <i class="mdi mdi-bus "></i>
                    <span class="menu-title">Agregar Carrera</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Creditos")">
                    <i class="mdi mdi mdi-briefcase-check "></i>
                    <span class="menu-title">Creditos</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Abonos")">
                    <i class="mdi mdi mdi-auto-upload"></i>
                    <span class="menu-title">Abonos</span>
                </a>
            </li>
        </ul>
    }
</nav>