<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Cotracosan</title>
    <link href="~/Content/Tema/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/Tema/vendors/base/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Content/Tema/style.css" rel="stylesheet" />
    @*<!--@Styles.Render("~/Content/Majestic") -->*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Partial Navbar-->
    @Html.Partial("_navbar")
    <!-- Fin Partial-->
    <!-- Contenedor Principal-->
    <div class="container-fluid page-body-wrapper">
        <!-- Aside Izquierda-->
        @Html.Partial("_Aside")
        <!-- Fin Aside Izquierda-->
        <!-- Carga del Contenido -->
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- Poner todos los contenidos en filas para respetar el diseño del autor-->
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Cotracosan</p>
                </footer>
            </div>
        </div>
        <!-- Fin del Contenido-->
    </div>
    <!-- Fin Contenedor principal-->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    @*<script src="~/Scripts/Tema/vendors/base/vendor.bundle.base.js"></script>*@
    <script src="~/Scripts/Tema/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Scripts/Tema/off-canvas.js"></script>
    <script src="~/Scripts/Tema/hoverable-collapse.js"></script>
    <script src="~/Scripts/Tema/template.js"></script>

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/cotracosan/bootstrap-notify.js"></script>
    <script>
    function logOut() {
        document.getElementById('logoutForm').submit();
    }
    </script>
</body>
</html>