<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cotracosan</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    @* Estilos *@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/tema/animate.min.css" rel="stylesheet" />
    <link href="~/Content/tema/light-bootstrap-dashboard.css" rel="stylesheet" />
    <link href="~/Content/tema/navbar.css" rel="stylesheet" />
    @* Fuentes *@
    <link href="~/Content/tema/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Roboto.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="azure" data-image="/Content/images/sidebar-4.jpg">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text" href="@Url.Action("Index","Home")">Cotracosan</a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a class="nav-link" href="@Url.Action("Index","Home")"><i class="pe-7s-graph"></i><p>Dashboard</p></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Carreras")">
                            <i class="pe-7s-bookmarks"></i>
                            <p>Carreras</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Creditos")">
                            <i class="pe-7s-science"></i>
                            <p>Creditos</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Abonos")">
                            <i class="pe-7s-science"></i>
                            <p>Abonos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cotracosan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
    function logOut() {
        document.getElementById('logoutForm').submit();
    }
    </script>
</body>
</html>
