<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cotracosan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Cotracosan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catalogos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Index","Articulos")">Articulos</a>
                        <a class="dropdown-item" href="@Url.Action("Index","Turnos")">Turnos</a>
                        <a class="dropdown-item" href="@Url.Action("Index","Penalizaciones")">Penalizaciones</a>
                        <a class="dropdown-item" href="@Url.Action("Index","Recorridos")">Recorridos</a>
                        <a class="dropdown-item" href="@Url.Action("Index","Vehiculos")">Vehiculos</a>
                        <a class="dropdown-item" href="@Url.Action("Index","Socios")">Socios</a>
                        <a class="dropdown-item" href="@Url.Action("Index","Conductores")">Conductores</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About","Home")">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact","Home")">Contacto</a>
                </li>
                @* Acciones de Administrador *@
                @if (User.IsInRole("Administrador"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Roles")">Roles</a>
                    </li>
                }
               
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cotracosan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/cotracosan/bootstrap-notify.js"></script>
    <script>
    function logOut() {
        document.getElementById('logoutForm').submit();
    }
    </script>
</body>
</html>
