@using Microsoft.AspNet.Identity
@using Cotracosan.Models
@{
    string user = User.Identity.GetUserId();
    var db = new ApplicationDbContext();
    string imgUrl = "/Content/images/emptyUser.png";
    // Comprobando que se encuentre algun usuario conectado
    if (!string.IsNullOrEmpty(user))
    {
        // Buscamos al usuario
        var usuario = db.Users.Find(user);
        if (usuario.ImagenPerfil.Length > 0)
        {
            imgUrl = string.Format("data:image/jpg; base64, {0}", Convert.ToBase64String(usuario.ImagenPerfil));
        }
    }
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="@imgUrl" alt="profile" id="loginImage" class="rounded img-fluid"/>
            <span class="nav-profile-name">@User.Identity.GetUserName()</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="@Url.Action("Index", "Manage")">
                <i class="mdi mdi-settings text-primary"></i>
                Administrar
            </a>
            <a class="dropdown-item" onclick="logOut()">
                <i class="mdi mdi-logout text-primary"></i>
                Cerrar Sesión
            </a>
        </div>
    </li>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        
        <li class="nav-item">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, 
                            htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}